@import url("./stylesheet.css");

/* 가로등 오른쪽 깃발 */
.market .right_flag{
    position: absolute;
    top: 408PX;
    left: 58px;
    width: 35px;
    height: 140px;

    /* border: 1px solid black;  */
    /* border-radius: 5px; */
}
.market .right_flag:hover{
    box-shadow: 0px 0px 10px black;
}
.market .right_flag >a{
    display: block;
    width:30px;
    height:120px;
}
.market .right_flag:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
