@import url("./stylesheet.css");

/* 건물 앞 오른쪽 작은 전단지 */
.market .skhu{
    position: absolute;
    width:18px;
    height:18px;
    top: 455px;
    left: 408px;
    /* background-color: gray; */
}
.market .skhu:hover{
    box-shadow: 0px 0px 10px black;
}
.market .skhu a>img{
    width:18px;
    height:18px;
}
.market .skhu:hover .tooltip{
    visibility: visible;
    bottom: 160%;
    opacity: 1;
}
