@import url("./stylesheet.css");

/* 건물 왼쪽 큰 전단지 */
.market .skhu{
    position: absolute;
    width:18px;
    height:18px;
    top: 455px;
    left: 408px;
    /* background-color: gray; */
}
.market .skhu a>img{
    width:18px;
    height:18px;
}

.market .skhu:hover .tooltip{
    visibility: visible;
    bottom: 150%;
    opacity: 1;
}
