body{   
    background-color: rgb(214,214,214);    
}
/* 툴팁 */
.tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 위치 조절 */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
/* 배경 마켓 */
.market{
    margin:0 auto;
    margin-top: 70px;
    width: 670px;
    height:600px;
    position: relative;

    border: 2px solid black; 
    border-radius: 5px;

    position: relative;
    z-index: 1;
}
.market img{
    z-index: 0;
}